body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding: 25px 0 25px 0;
  display: flex;
  list-style: none;
  background: #F7F7F7;
}

li {
  padding: 0 10px 0 10px;
}

.image-container {
  margin: 40px 0 40px 0px;
  display: flex;
  justify-content: center;
}

.image-container img {
  border-radius: 175px;
}
